body{
  background: lavender;
        }

 header{
text-align: center;
 font-size: 50px;
 padding: 40px;
 background: cadetblue;
  color: white;

 }

 body{
  background: lavender;
        }

 header{
 text-align: center;
 font-size: 50px;
 padding: 40px;
 background: cadetblue;
 color: white;

  }

  body{
   background: lavender;
        }

 header{
  text-align: center;
   font-size: 50px;
   padding: 40px;
   background: cadetblue;
     color: white;


        }

 body{
 background: lavender;
        
        }

 header{
  text-align: center;
font-size: 50px;
 padding: 40px;
 background: cadetblue;
 color: white;

  }

body{
   background: lavender;
       
  }

 header{
    text-align: center;
     font-size: 50px;
      padding: 40px;
  background: cadetblue;
     color: white;

 }

 body{
   background: lavender;
        }

  header{
  text-align: center;
  font-size: 50px;
 padding: 40px;
  background: cadetblue;
  color: white;

  }

 h2{  /*Este es del index */ 
     text-align: center;
    font-size: 50px;
    color: ;
        }

  body{ /*Este es del index */
    background: Lavander;
     font-family: Times new roman;

       
     }

     .encabezado-index{
        text-align: center;
        background: slateblue;
            
     }

     body{
            background: lavender;
        }

        header{
            text-align: center;
            font-size: 50px;
            padding: 40px;
            background: cadetblue;
            color: white;


        }

        header{
            text-align: center;
            font-size: 50px;
            padding: 40px;
            background: cadetblue;
            color: white;


        }

        body{
            background: lavender;
        }


        body{
            background: lavender;
        }

        header{
            text-align: center;
            font-size: 50px;
            padding: 40px;
            background: cadetblue;
            color: white;


        }


        body{
            background: lavender;
        }

        header{
            text-align: center;
            font-size: 50px;
            padding: 40px;
            background: cadetblue;
            color: white;


        }


        body{
            background: lavender;
        }

        header{
            text-align: center;
            font-size: 50px;
            padding: 40px;
            background: cadetblue;
            color: white;


        }


        body{
            background: lavender;
        }

        header{
            text-align: center;
            font-size: 50px;
            padding: 40px;
            background: cadetblue;
            color: white;


        }


        



        

