
  header{
  text-align: center;
  font-size: 50px;
 padding: 40px;
  background: #1f2937;
  color: white;

  }

 h2{  
     text-align: center;
    font-size: 50px;
    color: ;
        }

  body{ 
    background: lightsteelblue;
     font-family: Times new roman;

       
     }

     .encabezado-index{
        text-align: center;
        background: #1f2937;
            
     }


     .contenedor-ejercicios{
       
        background: white; 
   padding: 20px; 
   border-radius: 8px; 
   box-shadow: 0 2px 10px rgba(0,0,0,0.1);
   width: 80%; /* Cambié de 95% a 80% para recortar los extremos */
   margin: 50px auto;
   max-width: 1200px;


     }

     .label-ejercicios{

         text-align: center; 
        display: block;
         margin: auto; 
         font-family: arial;
     }

     .boton-ejercicios{
    
       display: block; 
      margin: auto; 
      background: gold; 
      font-size: 25px; 
      border-radius: 0.5rem ; 
      color: white; 
      border-color: gold; 
       font-family: arial; 
       font-weight: bold;
        cursor: pointer;
        padding: 0.5rem;


     }

     .navbar.bg-body-tertiary {
    background-color: #F59E0B !important;
}


.navbar-brand,
.nav-link {
    color: #ffffff !important;
    font-weight: 500;
}

.navbar-brand:hover,
.nav-link:hover {
    color: #fef3c7 !important;
}


.dropdown-menu {
    background-color: #FEF3C7;
}

.dropdown-item {
    color: #78350f;
}

.dropdown-item:hover {
    background-color: #F59E0B;
    color: #ffffff;
}

     


        



        

